<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>ch.uncoyote.shutdown.warn</string>
    <key>ProgramArguments</key>
    <array>
      <string>say</string>
      <string>Achtung, der Computer wird in fünf minuten um zehn uhr heruntergefahren[[slnc:120000]]Achtung, der Computer wird in drei minuten um zehn uhr heruntergefahren</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>21</integer>
        <key>Minute</key>
        <integer>55</integer>
      </dict>
    </array>
	</dict>
</plist>


